# Generated data files
*.xdmf
*.h5
*.nc

*.log
*.dlog

.ipynb_checkpoints/
*.ipynb
tmp_mako*
reveal.js/
sphinx-rootdir/
*.blg
*.idx
*.bbl
*.aux

# Macvim 
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
var/

# Unit test / coverage reports
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/

# Sphinx documentation
docs/build/

*.json