# Generated data files
*.xdmf
*.h5
*.nc

*.log
*.dlog

.ipynb_checkpoints/
tmp_mako*
reveal.js/
sphinx-rootdir/
*.blg
*.idx
*.bbl
*.aux

# Macvim
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
var/

*.*workspace

# Unit test / coverage reports
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/

# Sphinx documentation
docs/build/

*.json
*.measure

# demos
docs/demos/mekit17/pub/*.*
docs/demos/mekit17/pub/*

#cython
shenfun/optimization/*.c
shenfun/optimization/*.cpp
shenfun/optimization/*.so

docs/demos/mekit17/shenfun.tex