[MASTER]
disable = locally-disabled,
    too-few-public-methods,
    too-many-public-methods,
    too-many-instance-attributes,
    invalid-name,
    missing-docstring,
    too-many-lines,
    not-callable,
    redefined-builtin,
    too-many-arguments,
    invalid-sequence-index,
    line-too-long,
    invalid-unary-operand-type,
    redefined-outer-name,
    len-as-condition,
    redefined-argument-from-local,
    no-else-return,
    no-self-use,
    no-member,
    too-many-branches,
    too-many-statements,
    too-many-locals,
    too-many-ancestors,
    wildcard-import,
    unused-wildcard-import,
    global-statement,
    protected-access,
    undefined-variable,
    unused-argument,
    consider-using-f-string,
    unspecified-encoding,
    import-outside-toplevel

extension-pkg-whitelist = mpi4py,pyfftw,numpy,scipy.sparse,shenfun,shenfun.optimization
generated-members = np.floating
reports = no